{% extends "base.html" %}

{% block column1 %}

<input class="input is-large is-primary" type="text" placeholder="Discover Something">
<br><br><br><br>

<div class="columns">

    <div class="column is-one-fourth">

        <div class="card" onclick="myFunction()">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{url_for('static', filename='images/humanRightsOrg.png')}}" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content is-centered">
              <div class="media is-centered">
                <div class="media-content is-centered">
                  <p class="title is-4">Human Rights Organization</p>
                  <p class="subtitle is-6">11/28/2019</p>
                </div>
              </div>
            </div>
          </div>
        
          <div id="modal-ter" class="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Human Rights Organization GBM</p>
                  <button class="delete" aria-label="close" onclick="myFunction2()"></button>
                </header>
                <section class="modal-card-body">
                  <div class="content">
                    <h1>Description</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
                    <p><strong>Time/Date: </strong> 11/21/2019 @ 2:30 p.m.</p>
                    <p><strong>Foods:</strong></p>
                    <ul>
                        <li>Food 1</li>
                        <li>Food 2</li>
                        <li>Food 3</li>
                    </ul>
                  </div>
                </section>
                
              </div>
            </div>

        <script>
            function myFunction() {
              var x = document.getElementById("modal-ter");
              x.style.display = 'block';
            }
          </script>

          <script>
            function myFunction2() {
              var x = document.getElementById("modal-ter");
              x.style.display = 'none';
            }
          </script>
        
    </div>

    <div class="column is-one-fourth">
    </div>

    <div class="column is-one-fourth">
    </div>

    <div class="column is-one-fourth">
    </div>

</div>

{% endblock %}

{% block column2 %}

<div class="column is-centered">
    <h1 class = "title is-1 is-centered"> Filters </h1>
</div>

{% endblock %}
