<!DOCTYPE HTML>

<link rel="stylesheet" type="text/css" href="../css/bulma.css">



<html>
<head>
        <meta charset="UTF-8">
        <title>Index</title>
</head>

<div class = "column is-half">
        <h1> MEALPREP LOGIN </h1>
        <div class = "field">
        <class = "label"> Username</class>
        <input class = "input" type = "text" placeholder = "Username">
        </div>
        <div class = "field">
        <class = "label"> Password</class>
		<input type="input" type = "text" placeholder="Password">
        </div>
        <input class = "button is-link"type="submit">
</div>
</html>
