{% extends "base.html" %}

{% block column1 %}

    <h1 class = "title is-1 is-centered"> {{ user }}'s Messages </h1>

    <div class="box">
        <article class="media">
          <div class="media-content">
            <p><strong>Direct Messages with Evelyn</strong></p>
            <!-- Intermediate messages go here -->
            <br>


            <!-- Example of an incoming message -->
            <div class = "columns">
            <div class="column is-half">
            <article class="message is-info">
                <div class="message-body">
                  Have you seen this recipe for spaghetti spaghetti spaghetti spaghettispaghettispaghettisp
                </div>
            </article>
            </div>
            </div>
            <!-- End of example of an incoming message -->

            <!-- Example of an outgoing message -->
            <div class = "columns">
                    <div class="column is-half is-offset-6">
                    
                    <article class="message is-primary">
                        <div class="message-body">
                          i hate spaghetti. please stop talking to me. 
                        </div>
                    </article>
                    </div>
            </div>
            <!-- End of example of an outgoing message -->


            <div class = "columns">
                    <div class="column is-half">
                    <article class="message is-info">
                        <div class="message-body">
                          Whatever. You didn't even go to the last meeting we had for the human right org. 
                        </div>
                    </article>
                    </div>
                    </div>


            <input class="input" type="text" placeholder="Start a message">
          </div>
        </article>
      </div>

{% endblock %}
