{% extends "base.html" %}

{% block column1 %}

    <h1 class = "title is-1 is-centered"> {{ user }}'s Settings </h1>


	<div class = "box"> 
		<input id = "changePassword" class="input" type="text" placeholder = "Change Password" style="width:30%;">
		<br><br>
		<input id = "privateProfile" name="privateProfile" type="checkbox" class="switch" checked="checked">
		<label for = "privateProfile">Allow Friend Requests</label>
		<br><br>
		<input id = "allowMessages" name="allowMessages" type="checkbox" class="switch" checked="checked">
		<label for = "allowMessages"> Allow Messages From Friends Only</label> 
		<br><br>
		<input class = "button is-success" type="submit" value="Save Changes">		
	</div>

{% endblock %}
